Freebris_client/Connected Services/FreebrisServiceReference/FreebrisWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="FreebrisServer" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="FreebrisServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviciu Web pentru proiectul semestrial Freebris, materie II</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="FreebrisServer">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="points" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPointsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUser" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idBook" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDownloadResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPointsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteBookResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBooks">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBooksResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idAuthor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idIconBook" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangeEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksByTitleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksByAuthorResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookTitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBookIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIcon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIconResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIconResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIconBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIconBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIconBookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIconForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIconForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIconForUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsernameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadedBooksByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDownloadedBooksByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDownloadedBooksByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIcon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idIcon" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIconResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBookIcon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idIcon" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBookIconResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllIcons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllIconsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIconsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBookIcons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBookIconsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBookIconsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReview">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateReviewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReview">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteReviewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReviewById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReviewByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteReviewByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReviewForBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookTitle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReviewForBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllReviewForBookResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="CheckPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetPath" />
  </wsdl:message>
  <wsdl:message name="GetPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetPathResponse" />
  </wsdl:message>
  <wsdl:message name="IsAdminSoapIn">
    <wsdl:part name="parameters" element="tns:IsAdmin" />
  </wsdl:message>
  <wsdl:message name="IsAdminSoapOut">
    <wsdl:part name="parameters" element="tns:IsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AddPointsSoapIn">
    <wsdl:part name="parameters" element="tns:AddPoints" />
  </wsdl:message>
  <wsdl:message name="AddPointsSoapOut">
    <wsdl:part name="parameters" element="tns:AddPointsResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDownload" />
  </wsdl:message>
  <wsdl:message name="CreateDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetId" />
  </wsdl:message>
  <wsdl:message name="GetIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetPointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPoints" />
  </wsdl:message>
  <wsdl:message name="GetPointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPointsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBookSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="DeleteBookSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBookSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBook" />
  </wsdl:message>
  <wsdl:message name="CreateBookSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBookResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeEmailSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeEmail" />
  </wsdl:message>
  <wsdl:message name="ChangeEmailSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmail" />
  </wsdl:message>
  <wsdl:message name="GetEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooksByTitle" />
  </wsdl:message>
  <wsdl:message name="GetBooksByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksByAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthor" />
  </wsdl:message>
  <wsdl:message name="GetBooksByAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookId" />
  </wsdl:message>
  <wsdl:message name="GetBookIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetIconSoapIn">
    <wsdl:part name="parameters" element="tns:GetIcon" />
  </wsdl:message>
  <wsdl:message name="GetIconSoapOut">
    <wsdl:part name="parameters" element="tns:GetIconResponse" />
  </wsdl:message>
  <wsdl:message name="GetIconBookSoapIn">
    <wsdl:part name="parameters" element="tns:GetIconBook" />
  </wsdl:message>
  <wsdl:message name="GetIconBookSoapOut">
    <wsdl:part name="parameters" element="tns:GetIconBookResponse" />
  </wsdl:message>
  <wsdl:message name="GetIconForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetIconForUser" />
  </wsdl:message>
  <wsdl:message name="GetIconForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetIconForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsername" />
  </wsdl:message>
  <wsdl:message name="GetUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedBooksByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetDownloadedBooksByUser" />
  </wsdl:message>
  <wsdl:message name="GetDownloadedBooksByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetDownloadedBooksByUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetIconSoapIn">
    <wsdl:part name="parameters" element="tns:SetIcon" />
  </wsdl:message>
  <wsdl:message name="SetIconSoapOut">
    <wsdl:part name="parameters" element="tns:SetIconResponse" />
  </wsdl:message>
  <wsdl:message name="SetBookIconSoapIn">
    <wsdl:part name="parameters" element="tns:SetBookIcon" />
  </wsdl:message>
  <wsdl:message name="SetBookIconSoapOut">
    <wsdl:part name="parameters" element="tns:SetBookIconResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllIconsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIcons" />
  </wsdl:message>
  <wsdl:message name="GetAllIconsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIconsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBookIconsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBookIcons" />
  </wsdl:message>
  <wsdl:message name="GetAllBookIconsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBookIconsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateReviewSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReview" />
  </wsdl:message>
  <wsdl:message name="CreateReviewSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReviewSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReview" />
  </wsdl:message>
  <wsdl:message name="DeleteReviewSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReviewResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReviewByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReviewById" />
  </wsdl:message>
  <wsdl:message name="DeleteReviewByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReviewByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllReviewForBookSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllReviewForBook" />
  </wsdl:message>
  <wsdl:message name="GetAllReviewForBookSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllReviewForBookResponse" />
  </wsdl:message>
  <wsdl:portType name="FreebrisWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input message="tns:CheckPasswordSoapIn" />
      <wsdl:output message="tns:CheckPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <wsdl:input message="tns:GetPathSoapIn" />
      <wsdl:output message="tns:GetPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <wsdl:input message="tns:IsAdminSoapIn" />
      <wsdl:output message="tns:IsAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <wsdl:input message="tns:AddPointsSoapIn" />
      <wsdl:output message="tns:AddPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDownload">
      <wsdl:input message="tns:CreateDownloadSoapIn" />
      <wsdl:output message="tns:CreateDownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <wsdl:input message="tns:GetIdSoapIn" />
      <wsdl:output message="tns:GetIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <wsdl:input message="tns:GetPointsSoapIn" />
      <wsdl:output message="tns:GetPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input message="tns:DeleteBookSoapIn" />
      <wsdl:output message="tns:DeleteBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input message="tns:GetAllBooksSoapIn" />
      <wsdl:output message="tns:GetAllBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <wsdl:input message="tns:CreateBookSoapIn" />
      <wsdl:output message="tns:CreateBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <wsdl:input message="tns:ChangeEmailSoapIn" />
      <wsdl:output message="tns:ChangeEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <wsdl:input message="tns:GetEmailSoapIn" />
      <wsdl:output message="tns:GetEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByTitle">
      <wsdl:input message="tns:GetBooksByTitleSoapIn" />
      <wsdl:output message="tns:GetBooksByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <wsdl:input message="tns:GetBooksByAuthorSoapIn" />
      <wsdl:output message="tns:GetBooksByAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookId">
      <wsdl:input message="tns:GetBookIdSoapIn" />
      <wsdl:output message="tns:GetBookIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIcon">
      <wsdl:input message="tns:GetIconSoapIn" />
      <wsdl:output message="tns:GetIconSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIconBook">
      <wsdl:input message="tns:GetIconBookSoapIn" />
      <wsdl:output message="tns:GetIconBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIconForUser">
      <wsdl:input message="tns:GetIconForUserSoapIn" />
      <wsdl:output message="tns:GetIconForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsername">
      <wsdl:input message="tns:GetUsernameSoapIn" />
      <wsdl:output message="tns:GetUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedBooksByUser">
      <wsdl:input message="tns:GetDownloadedBooksByUserSoapIn" />
      <wsdl:output message="tns:GetDownloadedBooksByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetIcon">
      <wsdl:input message="tns:SetIconSoapIn" />
      <wsdl:output message="tns:SetIconSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBookIcon">
      <wsdl:input message="tns:SetBookIconSoapIn" />
      <wsdl:output message="tns:SetBookIconSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIcons">
      <wsdl:input message="tns:GetAllIconsSoapIn" />
      <wsdl:output message="tns:GetAllIconsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBookIcons">
      <wsdl:input message="tns:GetAllBookIconsSoapIn" />
      <wsdl:output message="tns:GetAllBookIconsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <wsdl:input message="tns:CreateReviewSoapIn" />
      <wsdl:output message="tns:CreateReviewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <wsdl:input message="tns:DeleteReviewSoapIn" />
      <wsdl:output message="tns:DeleteReviewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReviewById">
      <wsdl:input message="tns:DeleteReviewByIdSoapIn" />
      <wsdl:output message="tns:DeleteReviewByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewForBook">
      <wsdl:input message="tns:GetAllReviewForBookSoapIn" />
      <wsdl:output message="tns:GetAllReviewForBookSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FreebrisWebServiceSoap" type="tns:FreebrisWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="FreebrisServer/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="FreebrisServer/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="FreebrisServer/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <soap:operation soapAction="FreebrisServer/GetPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap:operation soapAction="FreebrisServer/IsAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="FreebrisServer/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <soap:operation soapAction="FreebrisServer/AddPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="FreebrisServer/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDownload">
      <soap:operation soapAction="FreebrisServer/CreateDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="FreebrisServer/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap:operation soapAction="FreebrisServer/GetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <soap:operation soapAction="FreebrisServer/GetPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="FreebrisServer/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="FreebrisServer/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="FreebrisServer/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <soap:operation soapAction="FreebrisServer/CreateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap:operation soapAction="FreebrisServer/ChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <soap:operation soapAction="FreebrisServer/GetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByTitle">
      <soap:operation soapAction="FreebrisServer/GetBooksByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <soap:operation soapAction="FreebrisServer/GetBooksByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookId">
      <soap:operation soapAction="FreebrisServer/GetBookId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIcon">
      <soap:operation soapAction="FreebrisServer/GetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIconBook">
      <soap:operation soapAction="FreebrisServer/GetIconBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIconForUser">
      <soap:operation soapAction="FreebrisServer/GetIconForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsername">
      <soap:operation soapAction="FreebrisServer/GetUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedBooksByUser">
      <soap:operation soapAction="FreebrisServer/GetDownloadedBooksByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIcon">
      <soap:operation soapAction="FreebrisServer/SetIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBookIcon">
      <soap:operation soapAction="FreebrisServer/SetBookIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIcons">
      <soap:operation soapAction="FreebrisServer/GetAllIcons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookIcons">
      <soap:operation soapAction="FreebrisServer/GetAllBookIcons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <soap:operation soapAction="FreebrisServer/CreateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <soap:operation soapAction="FreebrisServer/DeleteReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReviewById">
      <soap:operation soapAction="FreebrisServer/DeleteReviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewForBook">
      <soap:operation soapAction="FreebrisServer/GetAllReviewForBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FreebrisWebServiceSoap12" type="tns:FreebrisWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="FreebrisServer/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="FreebrisServer/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap12:operation soapAction="FreebrisServer/CheckPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <soap12:operation soapAction="FreebrisServer/GetPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap12:operation soapAction="FreebrisServer/IsAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="FreebrisServer/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <soap12:operation soapAction="FreebrisServer/AddPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="FreebrisServer/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDownload">
      <soap12:operation soapAction="FreebrisServer/CreateDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="FreebrisServer/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap12:operation soapAction="FreebrisServer/GetId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <soap12:operation soapAction="FreebrisServer/GetPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="FreebrisServer/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap12:operation soapAction="FreebrisServer/DeleteBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap12:operation soapAction="FreebrisServer/GetAllBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBook">
      <soap12:operation soapAction="FreebrisServer/CreateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap12:operation soapAction="FreebrisServer/ChangeEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <soap12:operation soapAction="FreebrisServer/GetEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByTitle">
      <soap12:operation soapAction="FreebrisServer/GetBooksByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthor">
      <soap12:operation soapAction="FreebrisServer/GetBooksByAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookId">
      <soap12:operation soapAction="FreebrisServer/GetBookId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIcon">
      <soap12:operation soapAction="FreebrisServer/GetIcon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIconBook">
      <soap12:operation soapAction="FreebrisServer/GetIconBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIconForUser">
      <soap12:operation soapAction="FreebrisServer/GetIconForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsername">
      <soap12:operation soapAction="FreebrisServer/GetUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedBooksByUser">
      <soap12:operation soapAction="FreebrisServer/GetDownloadedBooksByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIcon">
      <soap12:operation soapAction="FreebrisServer/SetIcon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBookIcon">
      <soap12:operation soapAction="FreebrisServer/SetBookIcon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIcons">
      <soap12:operation soapAction="FreebrisServer/GetAllIcons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookIcons">
      <soap12:operation soapAction="FreebrisServer/GetAllBookIcons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <soap12:operation soapAction="FreebrisServer/CreateReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <soap12:operation soapAction="FreebrisServer/DeleteReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReviewById">
      <soap12:operation soapAction="FreebrisServer/DeleteReviewById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewForBook">
      <soap12:operation soapAction="FreebrisServer/GetAllReviewForBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FreebrisWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviciu Web pentru proiectul semestrial Freebris, materie II</wsdl:documentation>
    <wsdl:port name="FreebrisWebServiceSoap" binding="tns:FreebrisWebServiceSoap">
      <soap:address location="https://localhost:44348/FreebrisWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FreebrisWebServiceSoap12" binding="tns:FreebrisWebServiceSoap12">
      <soap12:address location="https://localhost:44348/FreebrisWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>